.fixed-bottom{
    	background-color: rgba(245, 245, 245, 1);
  		opacity: .8;
  	}
  	.list-group{
  		opacity: none;
  	}
  	.contenedor_opciones{
  		position: absolute;
	    width:150px;
	    top:30%;
	    left: 40%;
	    text-align: center;
  	}
  	.contenedor_opciones .list-group{
  		padding-bottom: 30px;
  		/*opacity: .8;*/
  	}

  	.boton1:hover, .boton2:hover{
  		background-color: red;
  	}

  	a, a:hover{
  		color: black;
  		text-decoration: none;
  	}